

body {
  background-color: whitesmoke;
}

h1 {
  font-family: 'Comic Neue', cursive;
}

h2 {
  font-family: 'Nanum Gothic Coding', monospace;
}

h3 {
  font-family: 'Source Code Pro', monospace;
}

/* Header */

#header {
  height: 15vh;
  padding: 2%;
}

/* Body */

#body {
  height: 75vh;
}

#summary {
  width: 40%;
  height: 70vh;
  float: left;
  border: 1px solid black;
  border-radius: 25px;
  margin: 0px 2%;
}

#summary h2 {
  margin-top: 2%;
}

#currentBalance {
  padding: 2%;
  border: 0px;
  height: 20vh;
  margin: 5%;
  border-radius: 25px;
  box-shadow: lightgray 5px 5px 10px 10px;
}

#currentIncome {
  padding: 2%;
  float: left;
  height: 20vh;
  border: 0px;
  margin: 5% 3%;
  border-radius: 25px;
  box-shadow: lightgray 5px 5px 10px 10px;
}

#currentExpense {
  padding: 2%;
  height: 20vh;
  float: right;
  border: 0px;
  margin: 5% 3%;
  border-radius: 25px;
  box-shadow: lightgray 5px 5px 10px 10px;
}

#detail {
  width: 50%;
  height: 70vh;
  float: right;
  border: 1px solid black;
  border-radius: 25px;
  margin: 0px 2%;
}

.history {
  height: 55vh;
}

.history section {
  height: 50vh;
  overflow-y: scroll;
}

ul li {
  margin: 2%;
  list-style: none;
}

ul li span {
  float: right;
}

ul li button {
  float: right;
  background-color: red;
  border: 0px;
  border-radius: 5px;
  font-size: large;
  color: whitesmoke;
  margin-left: 2%;
}

form {
  margin: 2%;
}

form input {
  margin: 2%;
}

/* Footer */

#footer {
  height: 7vh;
}

#copyrights {
  float: left;
  padding: 1%;
}

#social {
  float: right;
  font-size: xx-large;
}

#social a {
  margin: 0px 5px;
  color: black;
}

@media only screen and (max-width: 786px) {

/* Header */

#header {
  height: 15vh;
  padding: 2%;
}

/* Body */

#summary {
  width: 40%;
  height: 60vh;
  float: left;
  border: 1px solid black;
  border-radius: 25px;
  margin: 0px 2%;
}

#summary h2 {
  margin-top: 2%;
}

#currentBalance {
  border: 0px;
  height: 20vh;
  margin: 4%;
  border-radius: 25px;
  box-shadow: lightgray 5px 5px 10px 10px;
}

#currentIncome {
  float: left;
  height: 20vh;
  border: 0px;
  margin: 4% 3%;
  border-radius: 25px;
  box-shadow: lightgray 5px 5px 10px 10px;
}

#currentExpense {
  height: 20vh;
  float: right;
  border: 0px;
  margin: 4% 3%;
  border-radius: 25px;
  box-shadow: lightgray 5px 5px 10px 10px;
}

#details {
  width: 50%;
  height: 60vh;
  float: right;
  border: 1px solid black;
  border-radius: 25px;
  margin: 0px 2%;
}

/* Footer */

}

@media only screen and (max-width: 425px) {


/* Header */

#header {
  height: 15vh;
  padding: 2%;
}

/* Body */

#summary {
  width: 40%;
  height: 60vh;
  float: left;
  border: 1px solid black;
  border-radius: 25px;
  margin: 0px 2%;
}

#summary h2 {
  margin-top: 2%;
}

#currentBalance {
  border: 0px;
  height: 20vh;
  margin: 4%;
  border-radius: 25px;
  box-shadow: lightgray 5px 5px 10px 10px;
}

#currentIncome {
  float: left;
  height: 20vh;
  border: 0px;
  margin: 4% 3%;
  border-radius: 25px;
  box-shadow: lightgray 5px 5px 10px 10px;
}

#currentExpense {
  height: 20vh;
  float: right;
  border: 0px;
  margin: 4% 3%;
  border-radius: 25px;
  box-shadow: lightgray 5px 5px 10px 10px;
}

#details {
  width: 50%;
  height: 60vh;
  float: right;
  border: 1px solid black;
  border-radius: 25px;
  margin: 0px 2%;
}

/* Footer */

}

